.infoBarWrapper {
  display: flex;
  align-items: center;
  background-color: rgb(202, 202, 202);
  margin-bottom: 1rem;
  min-height: 25px;
  font-size: .8rem;
  padding: .5rem;
  color: #333;
}

.day {
  margin-right: .5rem;
}

.infoText {
  margin-left: auto;
}