.form {
  display: flex;
  height: 35px;
  margin-bottom: 1.5rem;
}

.form > input[type="text"] {
  flex: 1;
  padding-left: .5rem;
  border: 1px solid #bbb;
}

.form > input[type="submit"] {
  width: 105px;
  border: none;
  color: #eee;
  background-color: rgb(145, 138, 153);
}

.form > input[type="text"]:focus {
  outline: none;
}