.todoWrapper {
  margin: .3rem auto;
}

.todoItem {
  display: flex;
  background-color: rgb(231, 226, 222);
  justify-content: space-between;
  min-height: 65px;
  cursor: pointer;
}

.btnWrapper {
  display: flex;
}

.delete, .edit {
  background-color: rgb(145, 138, 153);
  display: flex;
  justify-content: center;
  color: #eee;
  width: 30px;
  align-items: center;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: .9rem;
}

.editBtnActive {
  background-color: rgb(129, 122, 138);
}

.textWrapper {
  flex: 1;
  font-size: .9rem;
  display: flex;
  align-items: center;
  padding: .3rem .6rem;
}

.moveWrapper {
  display: flex;
  flex-direction: column;
}

.moveBtns {
  background-color: rgb(202, 202, 202);
  width: 30px;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.moveBtns:active {
  background-color: rgb(170, 170, 170);
}

.delete:active,
.edit:active {
  background-color: rgb(129, 122, 138);
}

i {
  font-size: .8rem;
}

.moveBtns i {
  font-size: .6rem;
  color: #444;
}

.completed {
  opacity: .5;
}

.completed > div:nth-child(1) {
  text-decoration: line-through;
}

.moved {
  background-color: rgb(219, 219, 219);
}

.form {
  display: flex;
  height: 35px;
  margin-top: .2rem;
  margin-bottom: .6rem;
  background-color: slategray;
  width: 100%;
}

.form > input[type="text"] {
  width: 85%;
  padding-left: .5rem;
  border: 1px solid #bbb;
  font-family: monospace;
}

.form > input[type="submit"] {
  border: none;
  width: 15%;
  color: #eee;
  background-color: rgb(145, 138, 153);
}

.form > input[type="text"]:focus {
  outline: none;
}

.editTodo {
  display: none;
}

.editTodo.editNow {
  display: initial;
}

@media screen and (min-width: 400px) {
  .delete, .edit {
    width: 35px;
  }

  i {
    font-size: .9rem;
  }

  .form > input[type="text"] {
    width: 90%;
  }

  .form > input[type="submit"] {
    width: 10%;
    font-size: .8rem;
  }
}

@media screen and (min-width: 500px) {
  .moveWrapper {
    flex-direction: row;
    order: -1;
  }

  .todoItem {
    min-height: 45px;
  }
  
  .moveBtns {
    width: 35px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}