* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: monospace;
  font-size: 1.2rem;
  background-color: rgb(209, 206, 202);
}

.App {
  padding: 1rem;
  background-color: rgb(252, 252, 252);
  max-width: 600px;
  min-height: 100vh;
}

@media screen and (min-width: 500px) {
  body {
    padding: 0 1rem;
  }

  .App {
    margin: 1rem auto;
    box-shadow: 1px 1px 15px rgb(184, 184, 184);
    min-height: 500px;
  }
} 