* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: monospace;
  font-size: 1.2rem;
}

.App {
  margin: 1rem auto;
  padding: 1rem;
  max-width: 600px;
  box-shadow: 1px 1px 15px rgb(184, 184, 184);
  min-height: 500px;
}